body {
  background-color: #808080;

  font-family: Arial, serif;
  margin: 0;
  padding: 0;
}

.menu-heading {
  text-align: center;
}

.menu-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
}

.menu-box {
  background-color: #f2f2f2;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-box-heading {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  margin: -1px -1px -1px -1px;
  border: 1px solid black ;
}

.menu-box-heading.chicken {
  background-color: Red;
}

.menu-box-heading.beef {
  background-color: Green;
}

.menu-box-heading.sushi {
  background-color: Blue;
}

.menu-box-text {
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
}